/* @define-color base_color #303030; */
/* @define-color text_color #e0e0e0; */
@define-color selected_bg_color #3030f0;
@define-color terminal_base_color #303030;

TerminalWindow * {
    -GtkRange-slider-width: 7;
}

/* X button color */
TerminalWindow GtkButton:hover {
  color: red;
  border-color: #707070;
}

/* active tab title */
TerminalWindow .notebook .active-page GtkLabel {
  color: #9090f0;
}

TerminalWindow .notebook {
  background-color: @terminal_base_color;
  border-color: @terminal_base_color;
}

TerminalWindow .notebook tab.reorderable-page:active {
  background-color: shade(@terminal_base_color, 0.90);
  border-bottom-color: @selected_bg_color;
  border-left: 0;
  border-right: 0;

  box-shadow: inset 0 3px alpha(black, 0.03), inset 0 2px alpha(black, 0.03), inset 0 1px alpha(black, 0.03),
  inset 1px 0 shade(@terminal_base_color, 0.75), inset -1px 0 shade(@terminal_base_color, 0.75);
}
