#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Mozc Dictionary Tool
Exec=/usr/lib/mozc/mozc_tool --mode=dictionary_tool
Icon=/usr/share/icons/hicolor/128x128/apps/org.fcitx.Fcitx5.fcitx-mozc.png
Type=Application
Categories=Settings;
X-KDE-StartupNotify=false
StartupNotify=false
